<h3>Behold: snacks</h3>

<table class="table">
  <tr>
    <th>Snack</th>
    <th>Image</th>
    <th>Rating</th>
    <th>Review</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  {{#each allSnacks}}
  <tr>
    <td><a href="#">{{this.name}}</a></td>
    <td> <img src="{{this.img_url}}" alt="{{this.name}} Image"></td>
    <td>{{this.rating}}</td>
    <td>{{this.review}}</td>
    <td><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></td>
        <td><a href="#"><span class="glyphicon glyphicon-trash"></span></a></td>
  </tr>
  {{/each}}
</table>
